#ERROR HANDLING

In [6]:
a = 5
b = 4
a/b

1.25

In [8]:
a = 5
b = 0
try:
    a/b
except:
    print("do something")

do something

In [11]:
a = 5
b = 0
try:
    a/b
except:
    print("check value of b")

check value of b

In [13]:
a = 5
b = 0
try:
    c = a/b
    print(c)
except ZeroDivisionError:
    print("CHECK VALUE OF B")
except TypeError:
    c = int(a)/int(b)
    print(c)

CHECK VALUE OF B

In [14]:
a = 5
b = "67"
try:
    c = a/b
    print(c)
except ZeroDivisionError:
    print("CHECK VALUE OF B")
except TypeError:
    c = int(a)/int(b)
    print(c)

0.07462686567164178

In [16]:
a = 5
b = 0
try:
    c = a/b
    print(c)
except ZeroDivisionError:
    print("CHECK VALUE OF B")
except TypeError:
    c = int(a)/int(b)
    print(c)
finally:
    print("i am here")

CHECK VALUE OF B
i am here

In [25]:
a = 5
b = 0
try:
    c = a/b
except ZeroDivisionError:
    print("CHECK VALUE OF B")
except TypeError:
    c = int(a)/int(b)
    print(c)
finally:
    print(c)
    print("I AM HERE")

CHECK VALUE OF B
1.0
I AM HERE

In [26]:
a = 5
b = 0
try:
    c = a/b
    print(c)
except Exception as e:
    print(e)
    print("CHECK THE VALUE OF B")

division by zero
CHECK THE VALUE OF B

#USER DEFINED FUNCTIONS

In [27]:
def print_hello():
    '''THIS FUNCTION PRINTS HELLO'''
    print("HELLO")

In [29]:
print_hello()

HELLO

In [30]:
def print_hello():
    '''THIS FUNCTION PRINTS HELLO'''
    return "HELLO"

In [31]:
a = print_hello()
a

'HELLO'

In [32]:
type(a)

str

In [37]:
def print_hello():
    '''THIS FUNCTION PRINTS HELLO'''
    print("HELLO will be printed")
    return "HELLO GOOD MORNING!"

In [38]:
a = print_hello()
a

HELLO will be printed

'HELLO GOOD MORNING!'

In [39]:
a

'HELLO GOOD MORNING!'

#type1= no input no output function

In [41]:
print_hello()

#type2= no input but gets output

In [43]:
def empty():
    print("hii")
    return "hii"

In [44]:
empty()

hii

'hii'

In [46]:
#input and no output

def add_two_nos(a,b):
    c = a+b
    print(c)

In [56]:
v = add_two_nos(4,5)

In [72]:
#input and output
def add_two_nos(a,b,d=47):
    print("a:",a)
    print("b:",b)
    print("d:",d)
    c = a+b+d 
    return c

In [73]:
n =add_two_nos(2,5)
n

a: 2
b: 5
d: 47

54

In [74]:
n =add_two_nos(b=2,a=5)
n

a: 5
b: 2
d: 47

54

In [75]:
n =add_two_nos(2,5,8)
n

a: 2
b: 5
d: 8

15

In [76]:
n =add_two_nos(b = 1,a=3,d=6)
n

a: 3
b: 1
d: 6

10

In [77]:
n =add_two_nos(90,b=2,d=5)
n

a: 90
b: 2
d: 5

97

In [78]:
n =add_two_nos(2,5,d=45)
n

a: 2
b: 5
d: 45

52

In [80]:
n = add_two_nos(34,23,56)
n

a: 34
b: 23
d: 56

113

In [81]:
n = add_two_nos(a=5,d=45,34)
n

SyntaxError: positional argument follows keyword argument (399992702.py, line 1)

In [82]:
n =add_two_nos(2,75,89)
n

a: 2
b: 75
d: 89

166

In [104]:
def lst1(a=["YOUR LIST IS EMPTY"]):
    for i in a:
        print(i)

In [105]:
lst1([1,2,3,4])

1
2
3
4

In [107]:
lst1()

YOUR LIST IS EMPTY

In [114]:
#any data type that is iterable and can perform for loop can be given in argument
lst1("ARYAN RAJ SINGH RATHORE")

A
R
Y
A
N

R
A
J

S
I
N
G
H

R
A
T
H
O
R
E

In [113]:
#integers are not iterable
lst1(9)

TypeError: 'int' object is not iterable

In [1]:
#with the help of set we can get uniqye elements
a="ARYAN RAJ SINGH RATHORE"
char_cnt ={wr:a.count(wr) for wr in a} 
b=[item for item in a]
#by writng the "list" we can convert set into list
unq_char = list(set(b))
char_cnt

{'A': 4,
 'R': 4,
 'Y': 1,
 'N': 2,
 ' ': 3,
 'J': 1,
 'S': 1,
 'I': 1,
 'G': 1,
 'H': 2,
 'T': 1,
 'O': 1,
 'E': 1}

In [135]:
a="aaabbbcccc"
char_cnt ={wr:a.count(wr) for wr in unq_char} 
b=[item for item in a]
unq_char = list(set(b))
char_cnt

{'c': 4, 'a': 3, 'b': 3}

In [137]:

def unique(a):
    char_cnt ={wr:a.count(wr) for wr in a} 
    b=[item for item in a]
    unq_char = list(set(b))
    return char_cnt

In [142]:
unique("zfauiwenm,fh8adfsaudk")

{'z': 1,
 'f': 3,
 'a': 3,
 'u': 2,
 'i': 1,
 'w': 1,
 'e': 1,
 'n': 1,
 'm': 1,
 ',': 1,
 'h': 1,
 '8': 1,
 'd': 2,
 's': 1,
 'k': 1}