In [5]:
lst = [[1,2,3],[4,5,6],[7,8,9]]
lst1 =[]
for i in lst :
    for k in i :
        lst1.append(k)
print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#nested for loop in comprehension

In [6]:
lst1 =[k for i in lst for k in i]
lst1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
for i in lst:
    for k in i:
        if k%2 == 0:
            lst1.append(k)
print(lst1)

[2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8]

In [10]:
lst1 =[k for i in lst for k in i if k%2 == 0]
lst1

[2, 4, 6, 8]

In [13]:
lst1 =[k**2 if k%2 == 0 else k for i in lst for k in i]
lst1

[1, 4, 3, 16, 5, 36, 7, 64, 9]

In [17]:
sq = {k:k**2 for i in lst for k in i}
sq

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [18]:
sq = {k:k**2 for i in lst for k in i if k%2==0}
sq

{2: 4, 4: 16, 6: 36, 8: 64}

In [26]:
lst3=list(range(2,11))
sq1_dict ={num:num**2 for num in lst3}
sq1_dict

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [27]:
sq1_dict={num**2:num for num in lst3}
sq1_dict

{4: 2, 9: 3, 16: 4, 25: 5, 36: 6, 49: 7, 64: 8, 81: 9, 100: 10}

In [36]:
sq1_dict1 ={num:num**2 for num in lst3}
sq3={}
for i,j in sq1_dict1.items():
    sq3[j]=i
sq3

{4: 2, 9: 3, 16: 4, 25: 5, 36: 6, 49: 7, 64: 8, 81: 9, 100: 10}

In [39]:
{v:k for k,v in sq1_dict1.items()}

{4: 2, 9: 3, 16: 4, 25: 5, 36: 6, 49: 7, 64: 8, 81: 9, 100: 10}

In [45]:
k = "ARYAN RAJ SINGH RATHORE"
name =set()
for i in k:
    name.add(i)
name

{' ', 'A', 'E', 'G', 'H', 'I', 'J', 'N', 'O', 'R', 'S', 'T', 'Y'}

In [47]:
name=set(i for i in k)
name

{' ', 'A', 'E', 'G', 'H', 'I', 'J', 'N', 'O', 'R', 'S', 'T', 'Y'}

In [2]:
a= input("enter the number you want to add")
b = a.split(" ")
e = [int(p) for p in b]
c = input("ENTER THE OPERATOR")
result = 0
mul = 1
for i in e:
    if c == "+":
        result = result + i
    elif c  == "-":
        result = result - i
    elif c == "*":
        mul = mul*i
        result = mul
result

14