In [3]:
a = 5
while a<20 :
    a += 1
    print("Value of a is:", a)

Value of a is: 6
Value of a is: 7
Value of a is: 8
Value of a is: 9
Value of a is: 10
Value of a is: 11
Value of a is: 12
Value of a is: 13
Value of a is: 14
Value of a is: 15
Value of a is: 16
Value of a is: 17
Value of a is: 18
Value of a is: 19
Value of a is: 20

In [6]:
a = 5 
while a<20 :
    a += 1
    print(f"value of a is {a}")
    if a == 8 :
        break

else :
    print("here is else")

value of a is 6
value of a is 7
value of a is 8

In [7]:
a = 5 
while a<20 :
    a += 1
    print(f"value of a is {a}")
    if a == 8 :
        continue
        print("continue")

else :
    print("here is else")

value of a is 6
value of a is 7
value of a is 8
value of a is 9
value of a is 10
value of a is 11
value of a is 12
value of a is 13
value of a is 14
value of a is 15
value of a is 16
value of a is 17
value of a is 18
value of a is 19
value of a is 20
here is else

In [9]:
a = 5 
while a<20 :
    a += 1
    print(f"value of a is {a}")
    if a == 8 :
        a = 21

else :
    print("here is else")

value of a is 6
value of a is 7
value of a is 8
here is else

In [10]:
a = 5 
any_cond = True
while any_cond :
    a += 1
    print(f"value of a is {a}")
    if a == 8 :
        any_cond = False

else :
    print("here is else")

value of a is 6
value of a is 7
value of a is 8
here is else

In [17]:
i = "ARYAN"
a=0
while a<6:
    print(i)
    a += 1
    i= i[1:]

ARYAN
RYAN
YAN
AN
N

In [18]:
i = "ARYAN"
while i:
    print(i)
    i= i[1:]

ARYAN
RYAN
YAN
AN
N

#FOR LOOP

In [19]:
lst = [1,2,3,4,5]

for item in lst:
    print("FOR loop is running")

FOR loop is running
FOR loop is running
FOR loop is running
FOR loop is running
FOR loop is running

In [20]:
lst = [1,2,3,4,5]

for item in lst:
    print(item)

1
2
3
4
5

In [22]:
lst1 = [1,2,3,4,5,6,7,8,9]

for item in lst1:
    if item == 7:
        break
    print(item)

1
2
3
4
5
6

In [37]:
num1 = 5
fact =1
for i in range(1,num1+1):
    fact = fact*i
print(fact)

120

In [38]:
a = 50
for i in range(1,a+1):
    if i%2 == 0 :
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [46]:
w = ["apple","Banana","Mango"]
W = []
for item in w:
    W.append(item.upper())
W=W[::-1]
print(W)

['MANGO', 'BANANA', 'APPLE']

In [49]:
N=[1,2,3,4,5]
n={}
for item in N:
    n[item] = item**2
print(n)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [21]:
names = ["aryan", "xyz" , "abc"]
ages =[20,23,21]
v ={}
for n in names:
    v[n] = ages[names.index(n)]
print(v)

{'aryan': 20, 'xyz': 23, 'abc': 21}

In [6]:
t = dict(zip(names,ages))
lst3=[]
for item in t:
    lst3.append(item)
print(lst3)

['aryan', 'xyz', 'abc']

In [10]:
dict(zip(names,ages))
print(dict.keys)

<method 'keys' of 'dict' objects>

In [22]:

v.items()

dict_items([('aryan', 20), ('xyz', 23), ('abc', 21)])

In [25]:
k = []
r = []

for key,Val in v.items():
    k.append(key)
    r.append(Val)
print(k)
print(r)

['aryan', 'xyz', 'abc']
[20, 23, 21]

#COMPREHENSIONS

In [26]:
sq = [num**2 for num in range(20) if num%3 == 0]
sq

[0, 9, 36, 81, 144, 225, 324]

In [28]:
lst = [1,2,3,4,5]
sq1 = [num**2 for num in lst]
sq1

[1, 4, 9, 16, 25]

In [30]:
sq2 =[ num**2 for num in lst if num%2 == 0]
sq2

[4, 16]

In [32]:
sq3 =[ num**2 if num%2 == 0 else num for num in lst s]
sq3

[1, 4, 3, 16, 5]